<div class="ui fixed inverted menu">
  <div class="ui container">
    <LinkTo @route='index' class="header item"><i class="film icon"></i> Blinkenwall</LinkTo>
    <LinkTo @route='shadertoy' class="item">ShaderToy</LinkTo>
    <LinkTo @route='youtube' class="item">YouTube</LinkTo>
    <LinkTo @route='tox' class="item">Tox</LinkTo>
    <LinkTo @route='poetry' class="item">Poetry</LinkTo>
    <LinkTo @route='emulator' class="item">Emulator</LinkTo>
    <LinkTo @route='vnc' class="item">VNC</LinkTo>
    <LinkTo @route='retro' class="item">Retro</LinkTo>
    <div class="vcenter"><button type="button" class="ui right floated red inverted mini button" {{on 'click'
        (action 'stop' ) }}>Stop</button>
    </div>
  </div>
</div>
<div class="ui main text">
  {{outlet}}
</div>
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    Copyright blah
  </div />
</div>