<div class="ui grid">
  <div class="left floated six wide column">
    <h1 class="ui header">Poetry</h1>
  </div>
</div>
<div class="ui segment">
  Text:
  <div class="ui large input">
    {{input type="text" placeholder="Text" value=text}}
  </div>
  <button class="ui primary icon button" {{action "showText"}}><i class="play icon"></i></button>
</div>
