<div class="ui grid">
  <div class="left floated six wide column">
    <h1 class="ui header">ShaderToy</h1>
  </div>
  <div class="right floated right aligned">
    {{#link-to 'shadertoy' tagName='button' class="ui button"}}
      Highlights
    {{/link-to}}
    {{#link-to 'shadertoy.all' tagName='button' class="ui button"}}
      Browse
    {{/link-to}}
  </div>
  <div class="right floated right aligned">
    {{#link-to 'shadertoy.edit' "new" tagName='button' class="ui icon button"}}
      <i class="plus icon"></i>
    {{/link-to}}
  </div>
  <div class="right floated right aligned">
    <div class="ui search">
      {{input class="prompt" type="text" placeholder="Search"}}
      <div class="results"></div>
    </div>
  </div>
</div>
<div class="ui segment">
  {{outlet}}
</div>
