<div class="ui grid">
  <div class="left floated six wide column">
    <h1 class="ui header">ShaderToy</h1>
  </div>
  <div class="right floated right aligned">
    <LinkTo @route="shadertoy" @tagName="button" class="ui button">
      Highlights
    </LinkTo>
    <LinkTo @route="shadertoy.all" @tagName="button" class="ui button">
      Browse
    </LinkTo>
  </div>
  <div class="right floated right aligned">
    <LinkTo @route="shadertoy.edit" @model="new" @tagName="button" class="ui icon button">
      <i class="plus icon"></i>
    </LinkTo>
  </div>
  <div class="right floated right aligned">
    <div class="ui search">
      <Input class="prompt" @type="text" placeholder="Search" />
      <div class="results"></div>
    </div>
  </div>
</div>
<div class="ui segment">
  {{outlet}}
</div>
