<div class="ui grid">
  <div class="left floated six wide column">
    <h1 class="ui header">Tox</h1>
  </div>
</div>
<div class="ui segment">
  <p>
    <button class="ui primary icon button" {{action "start"}}>Start</button>
  </p>
  <div class="ui circular segment">
    <p>
      <img src="/tox/toxid.png" class="pixelated" width="256" height="256">
    </p>
  </div>
  <h2 class="ui header">Tox ID:</h2>
  <div class="ui raised segment">
    <p>{{toxid}}</p>
  </div>
</div>
