<div class="ui grid">
  <div class="left floated six wide column">
    <h1 class="ui header">Video Playback</h1>
  </div>
</div>
<div class="ui segment">
  Address:
  <div class="ui large input">
    {{input type="text" placeholder="URL" value=url}}
  </div>
  <button class="ui primary icon button" {{action "playVideo"}}><i class="play icon"></i></button>
</div>
