<h2 class="ui header"><i class="record icon"></i> Currently Active Animation</h2>
<div class="ui grid">
  <div class="six wide column">
    <ShaderPreview @source={{this.activeShader.source}} />
  </div>
  <div class="nine wide column">
    <h3 class="ui header">{{this.activeShader.title}}</h3>
    {{this.activeShader.description}}
  </div>
</div>
<ShadertoyAll />