<LinkTo @route="shadertoy.edit" @model={{this.shader.id}} class="ui medium image shadertoy-preview">
  <img alt="" role="presentation" class="ui rounded image"
    src="https://semantic-ui.com/images/wireframe/image-text.png">
  <div class="title">{{this.shader.content.title}}</div>
</LinkTo>