.main {
  margin-top: 7em;
  margin-left: 3em;
  margin-right: 3em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.edit {
  display: flex;
}
canvas.preview {
  width: 384px;
  height: 288px;
  background-color: black;
}
.shader-preview {
  margin-top: 20px;
  margin-right: 20px;
  flex-basis: 384px;
  flex-grow: 0;
  flex-shrink: 0;
}
.shader-editor {
  flex-grow: 1;
}
span.code {
  font-family: monospace;
}
.shaderdescription, .shadertitle {
  width: 100%;
}
.shadertoy-preview {
  position: relative;
}
.shadertoy-preview > .title {
  text-decoration: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
img.pixelated {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
